<% if user_signed_in? %>
  <h1>Profile</h1>
  <div>
    <h5>Total Given Spice: <%= current_user.likes_count || 0 %></h5>
    <h5>Total Received Spice: <%= @posts.sum(&:like_count) + @comments.sum(&:like_count) %></h5>
  </div>
  <div>
    <h2>Your Posts</h2>
    <%= render partial: 'shared/postcard', collection: @posts, as: :post, locals: { location: nil }, cached: -> post { cache_key_for_noloc_postcard(post) } %>
  </div>
  <div>
    <h2>Your Comments</h2>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/commentbody', locals: { comment: comment, is_card: true } %>
    <% end %>
  </div>
<% else %>
  <h1>This shouldn't appear...</h1>
<% end %>
