<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="navbar-brand mr-2">TicTacTea</a>
  </section>
  <section class="navbar-section">
    <% if user_signed_in? %>
      <span><%= current_user.email%></span>
      <!-- eventually add a link to the map -->
      <%= link_to 'Sign out', '/users/sign_out', :method => :delete, class: "btn btn-link" %>
    <% end %>
    <% if not user_signed_in? %>
      <%= link_to 'Sign in', '/users/sign_in', class: "btn btn-link" %>
      <%= link_to 'Sign up', '/users/sign_up', class: "btn btn-link" %>
    <% end %>
  </section>
</header>

