<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-location"></i>
  </div>
  <p class="empty-title h5">You're not close enough to view this post.</p>
  <p class="empty-subtitle">Move to within 5 miles of the post and try again.</p>
  <div class="empty-action">
    <%= link_to 'Back', '/posts', class: "btn btn-primary" %>
  </div>
</div>
