<%= javascript_tag 'postHTML5Loc()' %>

<%= render 'shared/header' %>

<% if not user_signed_in? %>
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-location"></i>
    </div>
    <p class="empty-title h5">You need to sign in or sign up to view posts.</p>
    <p class="empty-subtitle">Click the button to make an account.</p>
    <div class="empty-action">
      <%= link_to 'Sign up', '/users/sign_up', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div id="postcards">
    <% @posts.each do |post| %>
      <%= render partial: 'postcard', locals: { post: post } %>
    <% end %>
  </div>
<% end %>
<p id="curloc">Computing location...</p>
