<%= render 'shared/header' %>

<% if user_signed_in? %>
  <%= javascript_tag 'postHTML5Loc()' %>
  <p id="curloc">Computing location...</p>

  <div id="postcards">
    <% @posts.each do |post| %>
      <%= render partial: 'shared/postcard', locals: { post: post } %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/notsignedin' %>
<% end %>
