<%= javascript_tag 'postHTML5Loc()' %>

<%= render 'shared/header' %>
<%= link_to 'New post', '/posts/new' %>

<p id="curloc">Computing location...</p>

<div id="postcards">
  <% @posts.each do |post| %>
    <%= render partial: 'postcard', locals: { post: post } %>
  <% end %>
</div>
